<launch>

<arg name = "mode" default = "record_scans"/>
<arg name = "file_path" default = "$(find place_detector)/data"/>
<arg name = "rviz_config" default = "$(find place_detector)/rviz/record_scans.rviz"/>
<arg name = "bag_file_path" default = "/home/shakeeb/Downloads/scan_plan_sdm/EC_training_data/ptcloud_record_2021-04-07-01-21-32.bag"/>

<arg name = "angle_min" value = "-3.141592653589793238" doc="negative 180 degrees"/>
<arg name = "angle_inc" value = "$(eval 3.141592653589793238/180)" doc="1 degree resolution"/>
<arg name = "angle_max" value = "$(eval 3.141592653589793238 - 3.141592653589793238/180)" doc="180 degrees minus increment"/>

<param name = "use_sim_time" value = "true"/>

<node name="place_detector" type="place_detector_node" pkg="place_detector" output="screen">
  <param name="mode" value="$(arg mode)"/>
  <param name="file_path" value="$(arg file_path)"/>

  <param name="use_pose" value="true"/>
  <param name="world_frame_id" value="world"/>
  <param name="base_frame_id" value="D01/planning_link"/>
</node>

<!-- node name="ptcloud_throttler" type="throttle" pkg="topic_tools" args="messages /D01/horiz/os_cloud_node/points 10 /place_detector/ptcloud_in" /-->

<node name="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" output="screen">
  <remap from = "scan" to = "/place_detector/scan_in"/>
  <remap from = "cloud_in" to = "/D01/horiz/os_cloud_node/points_throttled"/>

  <param name="angle_min" value = "$(arg angle_min)"/>
  <param name="angle_max" value = "$(eval angle_max)"/>
	<param name="angle_increment" value = "$(arg angle_inc)"/>
  <param name="range_min" value = "0.01"/>
  <param name="range_max" value = "7.5"/>
  <param name="min_height" value = "0"/>
  <param name="max_height" value = "0.75"/>
  <param name="use_inf" value = "true"/>
</node>

<node pkg="rviz" type="rviz" name="place_detector_ui" output="screen" args="-d $(arg rviz_config)"/>

<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock $(arg bag_file_path) --pause -r 2"/>

</launch>
